# renovate: datasource=github-releases depName=helm/helm
helm 3.10.0
# renovate: datasource=github-releases depName=helmfile/helmfile
helmfile 0.146.0
# renovate: datasource=github-releases depName=mikefarah/yq
yq 4.27.5
# renovate: datasource=github-releases depName=profclems/glab
glab 1.22.0
# renovate: datasource=github-releases depName=vmware-tanzu/carvel-vendir
vendir 0.30.0
# renovate: datasource=github-releases depName=google/go-jsonnet
go-jsonnet 0.18.0
