---
resources:
  - apiVersion: networking.gke.io/v1
    kind: ManagedCertificate
    metadata:
      name: {{ .Values.kas.managed_cert_name }}
      namespace: gitlab
    spec:
      domains:
        - {{ .Values.kas.domain }}

  - apiVersion: cloud.google.com/v1
    kind: BackendConfig
    metadata:
      name: kas-http-backendconfig
      namespace: gitlab
    spec:
      healthCheck:
        port: 8151
        type: HTTP
        requestPath: /liveness
      timeoutSec: 1830
