---
global:
  hosts:
    # gcloud compute address nginx-gke-gprd-us-east1-d
    externalIP: 10.221.15.31
gitlab:
  gitlab-shell:
    service:
      # gcloud compute address ssh-gke-gprd-us-east1-d
      loadBalancerIP: 10.221.15.5
registry:
  service:
    # gcloud compute address registry-gke-gprd-us-east1-d
    loadBalancerIP: 10.221.15.4
