---
gitlab:
  webservice:
    deployments:
      api:
        workerProcesses: 6
        hpa:
          minReplicas: 25
          targetAverageValue: 3600m
        resources:
          limits:
            memory: 12G
          requests:
            cpu: 4500m
            memory: 7G
