---

nginx-ingress:
  controller:
    resources:
      # This is increased for https://gitlab.com/gitlab-com/gl-infra/delivery/-/issues/1592
      # and should be moved into gprd.yml after we confirm this is reduces the number
      # of pods and we are not saturated
      requests:
        memory: 1G
