---

nginx-ingress:
  controller:
    extraInitContainers:
      - name: delay-start
        args:
          - -c
          - echo "Checking connectivity to API..."; curl --verbose --connect-timeout 10 --max-time 15 http://gitlab-webservice-api.gitlab.svc.cluster.local:8181/-/readiness; echo "Output routing table..."; netstat -r
        command:
          - sh
        image: 'k8s.gcr.io/ingress-nginx/controller:v0.41.2'
