---

# Please note that `gprd.yaml.gotmpl` is included first for the `gprd-cny` environment,
# this file is for `cny` specific overrides

gitlab:
  mailroom:
    enabled: false

  sidekiq:
    enabled: false
  webservice:
    extraEnv:
      GITLAB_SENTRY_EXTRA_TAGS: "{\"type\": \"git\", \"stage\": \"cny\"}"

registry:
  hpa:
    minReplicas: 5
